.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 16px;
    margin-bottom: 16px;
}

.Post figure,
  h5 {
    margin: 0 0;
  }
  
.ThumbsUp {
    color: #1b5028;
  }
  
.ThumbsUp:hover {
    color: #dadadf;
  }
  
.ThumbsUpOutline:hover {
    color: #1b5028;
  }

.Owner {
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 1px;
}

.OwnerTitle {
  position: inherit;
}

.Date {
  font-weight: 600;
  letter-spacing: 2px;
  color: #1b5028;
}

.Title {
  font-weight: 600;
  letter-spacing: 1px;
}